.prose :where(a):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-links);
  text-decoration: none !important;
  font-weight: 600 !important;
  border-bottom: 1px solid #7dd3fc;
}

.prose :where(a:hover):not(:where([class~="not-prose"] *)) {
  border-bottom-width: 2px;
}

.max-w-8xl {
  max-width: 90rem;
}

/* Syntax highlighting */
#content-wrapper pre {
  padding: 15px 0;
}

#content-wrapper pre code > span {
  line-height: 25px;
  padding: 0 20px;
}

/* https://stackoverflow.com/a/24298427/1875015 */
[id]::before {
  content: "";
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}
