@font-face {
  font-family: 'octicons';
  src: url('../fonts/octicons.eot?#iefix&v=396334ee3da78f4302d25c758ae3e3ce5dc3c97d') format('embedded-opentype'), url('../fonts/octicons.woff?v=396334ee3da78f4302d25c758ae3e3ce5dc3c97d') format('woff'), url('../fonts/octicons.ttf?v=396334ee3da78f4302d25c758ae3e3ce5dc3c97d') format('truetype'), url('../fonts/octicons.svg?v=396334ee3da78f4302d25c758ae3e3ce5dc3c97d#octicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.octicon,
.mega-octicon {
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mega-octicon {
  font-size: 32px;
}
.octicon-alert:before {
  content: '\f02d';
}
/*  */
.octicon-arrow-down:before {
  content: '\f03f';
}
/*  */
.octicon-arrow-left:before {
  content: '\f040';
}
/*  */
.octicon-arrow-right:before {
  content: '\f03e';
}
/*  */
.octicon-arrow-small-down:before {
  content: '\f0a0';
}
/*  */
.octicon-arrow-small-left:before {
  content: '\f0a1';
}
/*  */
.octicon-arrow-small-right:before {
  content: '\f071';
}
/*  */
.octicon-arrow-small-up:before {
  content: '\f09f';
}
/*  */
.octicon-arrow-up:before {
  content: '\f03d';
}
/*  */
.octicon-microscope:before,
.octicon-beaker:before {
  content: '\f0dd';
}
/*  */
.octicon-bell:before {
  content: '\f0de';
}
/*  */
.octicon-book:before {
  content: '\f007';
}
/*  */
.octicon-bookmark:before {
  content: '\f07b';
}
/*  */
.octicon-briefcase:before {
  content: '\f0d3';
}
/*  */
.octicon-broadcast:before {
  content: '\f048';
}
/*  */
.octicon-browser:before {
  content: '\f0c5';
}
/*  */
.octicon-bug:before {
  content: '\f091';
}
/*  */
.octicon-calendar:before {
  content: '\f068';
}
/*  */
.octicon-check:before {
  content: '\f03a';
}
/*  */
.octicon-checklist:before {
  content: '\f076';
}
/*  */
.octicon-chevron-down:before {
  content: '\f0a3';
}
/*  */
.octicon-chevron-left:before {
  content: '\f0a4';
}
/*  */
.octicon-chevron-right:before {
  content: '\f078';
}
/*  */
.octicon-chevron-up:before {
  content: '\f0a2';
}
/*  */
.octicon-circle-slash:before {
  content: '\f084';
}
/*  */
.octicon-circuit-board:before {
  content: '\f0d6';
}
/*  */
.octicon-clippy:before {
  content: '\f035';
}
/*  */
.octicon-clock:before {
  content: '\f046';
}
/*  */
.octicon-cloud-download:before {
  content: '\f00b';
}
/*  */
.octicon-cloud-upload:before {
  content: '\f00c';
}
/*  */
.octicon-code:before {
  content: '\f05f';
}
/*  */
.octicon-color-mode:before {
  content: '\f065';
}
/*  */
.octicon-comment-add:before,
.octicon-comment:before {
  content: '\f02b';
}
/*  */
.octicon-comment-discussion:before {
  content: '\f04f';
}
/*  */
.octicon-credit-card:before {
  content: '\f045';
}
/*  */
.octicon-dash:before {
  content: '\f0ca';
}
/*  */
.octicon-dashboard:before {
  content: '\f07d';
}
/*  */
.octicon-database:before {
  content: '\f096';
}
/*  */
.octicon-clone:before,
.octicon-desktop-download:before {
  content: '\f0dc';
}
/*  */
.octicon-device-camera:before {
  content: '\f056';
}
/*  */
.octicon-device-camera-video:before {
  content: '\f057';
}
/*  */
.octicon-device-desktop:before {
  content: '\f27c';
}
/*  */
.octicon-device-mobile:before {
  content: '\f038';
}
/*  */
.octicon-diff:before {
  content: '\f04d';
}
/*  */
.octicon-diff-added:before {
  content: '\f06b';
}
/*  */
.octicon-diff-ignored:before {
  content: '\f099';
}
/*  */
.octicon-diff-modified:before {
  content: '\f06d';
}
/*  */
.octicon-diff-removed:before {
  content: '\f06c';
}
/*  */
.octicon-diff-renamed:before {
  content: '\f06e';
}
/*  */
.octicon-ellipsis:before {
  content: '\f09a';
}
/*  */
.octicon-eye-unwatch:before,
.octicon-eye-watch:before,
.octicon-eye:before {
  content: '\f04e';
}
/*  */
.octicon-file-binary:before {
  content: '\f094';
}
/*  */
.octicon-file-code:before {
  content: '\f010';
}
/*  */
.octicon-file-directory:before {
  content: '\f016';
}
/*  */
.octicon-file-media:before {
  content: '\f012';
}
/*  */
.octicon-file-pdf:before {
  content: '\f014';
}
/*  */
.octicon-file-submodule:before {
  content: '\f017';
}
/*  */
.octicon-file-symlink-directory:before {
  content: '\f0b1';
}
/*  */
.octicon-file-symlink-file:before {
  content: '\f0b0';
}
/*  */
.octicon-file-text:before {
  content: '\f011';
}
/*  */
.octicon-file-zip:before {
  content: '\f013';
}
/*  */
.octicon-flame:before {
  content: '\f0d2';
}
/*  */
.octicon-fold:before {
  content: '\f0cc';
}
/*  */
.octicon-gear:before {
  content: '\f02f';
}
/*  */
.octicon-gift:before {
  content: '\f042';
}
/*  */
.octicon-gist:before {
  content: '\f00e';
}
/*  */
.octicon-gist-secret:before {
  content: '\f08c';
}
/*  */
.octicon-git-branch-create:before,
.octicon-git-branch-delete:before,
.octicon-git-branch:before {
  content: '\f020';
}
/*  */
.octicon-git-commit:before {
  content: '\f01f';
}
/*  */
.octicon-git-compare:before {
  content: '\f0ac';
}
/*  */
.octicon-git-merge:before {
  content: '\f023';
}
/*  */
.octicon-git-pull-request-abandoned:before,
.octicon-git-pull-request:before {
  content: '\f009';
}
/*  */
.octicon-globe:before {
  content: '\f0b6';
}
/*  */
.octicon-graph:before {
  content: '\f043';
}
/*  */
.octicon-heart:before {
  content: '\2665';
}
/* ♥ */
.octicon-history:before {
  content: '\f07e';
}
/*  */
.octicon-home:before {
  content: '\f08d';
}
/*  */
.octicon-horizontal-rule:before {
  content: '\f070';
}
/*  */
.octicon-hubot:before {
  content: '\f09d';
}
/*  */
.octicon-inbox:before {
  content: '\f0cf';
}
/*  */
.octicon-info:before {
  content: '\f059';
}
/*  */
.octicon-issue-closed:before {
  content: '\f028';
}
/*  */
.octicon-issue-opened:before {
  content: '\f026';
}
/*  */
.octicon-issue-reopened:before {
  content: '\f027';
}
/*  */
.octicon-jersey:before {
  content: '\f019';
}
/*  */
.octicon-key:before {
  content: '\f049';
}
/*  */
.octicon-keyboard:before {
  content: '\f00d';
}
/*  */
.octicon-law:before {
  content: '\f0d8';
}
/*  */
.octicon-light-bulb:before {
  content: '\f000';
}
/*  */
.octicon-link:before {
  content: '\f05c';
}
/*  */
.octicon-link-external:before {
  content: '\f07f';
}
/*  */
.octicon-list-ordered:before {
  content: '\f062';
}
/*  */
.octicon-list-unordered:before {
  content: '\f061';
}
/*  */
.octicon-location:before {
  content: '\f060';
}
/*  */
.octicon-gist-private:before,
.octicon-mirror-private:before,
.octicon-git-fork-private:before,
.octicon-lock:before {
  content: '\f06a';
}
/*  */
.octicon-logo-github:before {
  content: '\f092';
}
/*  */
.octicon-mail:before {
  content: '\f03b';
}
/*  */
.octicon-mail-read:before {
  content: '\f03c';
}
/*  */
.octicon-mail-reply:before {
  content: '\f051';
}
/*  */
.octicon-mark-github:before {
  content: '\f00a';
}
/*  */
.octicon-markdown:before {
  content: '\f0c9';
}
/*  */
.octicon-megaphone:before {
  content: '\f077';
}
/*  */
.octicon-mention:before {
  content: '\f0be';
}
/*  */
.octicon-milestone:before {
  content: '\f075';
}
/*  */
.octicon-mirror-public:before,
.octicon-mirror:before {
  content: '\f024';
}
/*  */
.octicon-mortar-board:before {
  content: '\f0d7';
}
/*  */
.octicon-mute:before {
  content: '\f080';
}
/*  */
.octicon-no-newline:before {
  content: '\f09c';
}
/*  */
.octicon-octoface:before {
  content: '\f008';
}
/*  */
.octicon-organization:before {
  content: '\f037';
}
/*  */
.octicon-package:before {
  content: '\f0c4';
}
/*  */
.octicon-paintcan:before {
  content: '\f0d1';
}
/*  */
.octicon-pencil:before {
  content: '\f058';
}
/*  */
.octicon-person-add:before,
.octicon-person-follow:before,
.octicon-person:before {
  content: '\f018';
}
/*  */
.octicon-pin:before {
  content: '\f041';
}
/*  */
.octicon-plug:before {
  content: '\f0d4';
}
/*  */
.octicon-repo-create:before,
.octicon-gist-new:before,
.octicon-file-directory-create:before,
.octicon-file-add:before,
.octicon-plus:before {
  content: '\f05d';
}
/*  */
.octicon-primitive-dot:before {
  content: '\f052';
}
/*  */
.octicon-primitive-square:before {
  content: '\f053';
}
/*  */
.octicon-pulse:before {
  content: '\f085';
}
/*  */
.octicon-question:before {
  content: '\f02c';
}
/*  */
.octicon-quote:before {
  content: '\f063';
}
/*  */
.octicon-radio-tower:before {
  content: '\f030';
}
/*  */
.octicon-repo-delete:before,
.octicon-repo:before {
  content: '\f001';
}
/*  */
.octicon-repo-clone:before {
  content: '\f04c';
}
/*  */
.octicon-repo-force-push:before {
  content: '\f04a';
}
/*  */
.octicon-gist-fork:before,
.octicon-repo-forked:before {
  content: '\f002';
}
/*  */
.octicon-repo-pull:before {
  content: '\f006';
}
/*  */
.octicon-repo-push:before {
  content: '\f005';
}
/*  */
.octicon-rocket:before {
  content: '\f033';
}
/*  */
.octicon-rss:before {
  content: '\f034';
}
/*  */
.octicon-ruby:before {
  content: '\f047';
}
/*  */
.octicon-screen-full:before {
  content: '\f066';
}
/*  */
.octicon-screen-normal:before {
  content: '\f067';
}
/*  */
.octicon-search-save:before,
.octicon-search:before {
  content: '\f02e';
}
/*  */
.octicon-server:before {
  content: '\f097';
}
/*  */
.octicon-settings:before {
  content: '\f07c';
}
/*  */
.octicon-shield:before {
  content: '\f0e1';
}
/*  */
.octicon-log-in:before,
.octicon-sign-in:before {
  content: '\f036';
}
/*  */
.octicon-log-out:before,
.octicon-sign-out:before {
  content: '\f032';
}
/*  */
.octicon-squirrel:before {
  content: '\f0b2';
}
/*  */
.octicon-star-add:before,
.octicon-star-delete:before,
.octicon-star:before {
  content: '\f02a';
}
/*  */
.octicon-stop:before {
  content: '\f08f';
}
/*  */
.octicon-repo-sync:before,
.octicon-sync:before {
  content: '\f087';
}
/*  */
.octicon-tag-remove:before,
.octicon-tag-add:before,
.octicon-tag:before {
  content: '\f015';
}
/*  */
.octicon-telescope:before {
  content: '\f088';
}
/*  */
.octicon-terminal:before {
  content: '\f0c8';
}
/*  */
.octicon-three-bars:before {
  content: '\f05e';
}
/*  */
.octicon-thumbsdown:before {
  content: '\f0db';
}
/*  */
.octicon-thumbsup:before {
  content: '\f0da';
}
/*  */
.octicon-tools:before {
  content: '\f031';
}
/*  */
.octicon-trashcan:before {
  content: '\f0d0';
}
/*  */
.octicon-triangle-down:before {
  content: '\f05b';
}
/*  */
.octicon-triangle-left:before {
  content: '\f044';
}
/*  */
.octicon-triangle-right:before {
  content: '\f05a';
}
/*  */
.octicon-triangle-up:before {
  content: '\f0aa';
}
/*  */
.octicon-unfold:before {
  content: '\f039';
}
/*  */
.octicon-unmute:before {
  content: '\f0ba';
}
/*  */
.octicon-versions:before {
  content: '\f064';
}
/*  */
.octicon-watch:before {
  content: '\f0e0';
}
/*  */
.octicon-remove-close:before,
.octicon-x:before {
  content: '\f081';
}
/*  */
.octicon-zap:before {
  content: '\26A1';
}
/* ⚡ */
.markdown {
  overflow: hidden;
  font-family: Lato, "Helvetica Neue", "Microsoft YaHei", Arial, Helvetica, sans-serif !important;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}
.markdown > *:first-child {
  margin-top: 0 !important;
}
.markdown > *:last-child {
  margin-bottom: 0 !important;
}
.markdown a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.markdown .absent {
  color: #c00;
}
.markdown .anchor {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}
.markdown .anchor:focus {
  outline: none;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}
.markdown h1 .octicon-link,
.markdown h2 .octicon-link,
.markdown h3 .octicon-link,
.markdown h4 .octicon-link,
.markdown h5 .octicon-link,
.markdown h6 .octicon-link {
  display: none;
  color: #000;
  vertical-align: middle;
}
.markdown h1:hover .anchor,
.markdown h2:hover .anchor,
.markdown h3:hover .anchor,
.markdown h4:hover .anchor,
.markdown h5:hover .anchor,
.markdown h6:hover .anchor {
  padding-left: 8px;
  margin-left: -30px;
  text-decoration: none;
}
.markdown h1:hover .anchor .octicon-link,
.markdown h2:hover .anchor .octicon-link,
.markdown h3:hover .anchor .octicon-link,
.markdown h4:hover .anchor .octicon-link,
.markdown h5:hover .anchor .octicon-link,
.markdown h6:hover .anchor .octicon-link {
  display: inline-block;
}
.markdown h1 tt,
.markdown h1 code,
.markdown h2 tt,
.markdown h2 code,
.markdown h3 tt,
.markdown h3 code,
.markdown h4 tt,
.markdown h4 code,
.markdown h5 tt,
.markdown h5 code,
.markdown h6 tt,
.markdown h6 code {
  font-size: inherit;
}
.markdown h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
.markdown h1 .anchor {
  line-height: 1;
}
.markdown h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
.markdown h2 .anchor {
  line-height: 1;
}
.markdown h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
.markdown h3 .anchor {
  line-height: 1.2;
}
.markdown h4 {
  font-size: 1.25em;
}
.markdown h4 .anchor {
  line-height: 1.2;
}
.markdown h5 {
  font-size: 1em;
}
.markdown h5 .anchor {
  line-height: 1.1;
}
.markdown h6 {
  font-size: 1em;
  color: #777;
}
.markdown h6 .anchor {
  line-height: 1.1;
}
.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table,
.markdown pre {
  margin-top: 0;
  margin-bottom: 16px;
}
.markdown hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}
.markdown ul,
.markdown ol {
  padding-left: 2em;
}
.markdown ul.no-list,
.markdown ol.no-list {
  padding: 0;
  list-style-type: none;
}
.markdown ul ul,
.markdown ul ol,
.markdown ol ol,
.markdown ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown ol ol,
.markdown ul ol {
  list-style-type: lower-roman;
}
.markdown li > p {
  margin-top: 16px;
}
.markdown dl {
  padding: 0;
}
.markdown dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
.markdown dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.markdown blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
.markdown blockquote > :first-child {
  margin-top: 0;
}
.markdown blockquote > :last-child {
  margin-bottom: 0;
}
.markdown table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
.markdown table th {
  font-weight: bold;
}
.markdown table th,
.markdown table td {
  padding: 6px 13px !important;
  border: 1px solid #ddd;
}
.markdown table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.markdown table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.markdown img {
  max-width: 100%;
  box-sizing: border-box;
}
.markdown .emoji {
  max-width: none;
}
.markdown span.frame {
  display: block;
  overflow: hidden;
}
.markdown span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #ddd;
}
.markdown span.frame span img {
  display: block;
  float: left;
}
.markdown span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #333;
}
.markdown span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}
.markdown span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}
.markdown span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
.markdown span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
.markdown span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}
.markdown span.align-right span img {
  margin: 0;
  text-align: right;
}
.markdown span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}
.markdown span.float-left span {
  margin: 13px 0 0;
}
.markdown span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}
.markdown span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}
.markdown :not(pre) > code {
  background-color: rgba(0, 0, 0, 0.04);
}
.markdown code,
.markdown tt {
  padding: 0.2em 0.1em;
  margin: 0;
  font-size: 85%;
  border-radius: 3px;
}
.markdown code:before,
.markdown code:after,
.markdown tt:before,
.markdown tt:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
.markdown code br,
.markdown tt br {
  display: none;
}
.markdown del code {
  text-decoration: inherit;
}
.markdown pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  border: 0;
}
.markdown .highlight {
  margin-bottom: 16px;
}
.markdown .highlight pre,
.markdown pre {
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 3px;
}
.markdown .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.markdown pre {
  word-wrap: normal;
}
.markdown pre code,
.markdown pre tt {
  max-width: initial;
  padding: 0.5em;
  margin: 0;
  overflow: auto;
  line-height: inherit;
  word-wrap: normal;
  border: 0;
}
.markdown pre code:before,
.markdown pre code:after,
.markdown pre tt:before,
.markdown pre tt:after {
  content: normal;
}
.markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}
.markdown .csv-data td,
.markdown .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}
.markdown .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #fff;
  border: 0;
}
.markdown .csv-data tr {
  border-top: 0;
}
.markdown .csv-data th {
  font-weight: bold;
  background: #f8f8f8;
  border-top: 0;
}
body {
  min-width: 767px;
  overflow-x: auto;
  font-family: Lato, "Helvetica Neue", "Microsoft YaHei", Arial, Helvetica, sans-serif !important;
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Lato, "Helvetica Neue", "Microsoft YaHei", Arial, Helvetica, sans-serif !important;
}
.emoji {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
}
.masthead.segment {
  min-height: 500px;
  padding: 1em 0em;
}
.masthead .text.container {
  padding-bottom: 4em;
}
.masthead h1.ui.header {
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
.ui.vertical.menu .item.current {
  color: green;
}
.ui.vertical.stripe {
  padding: 6em 0em;
}
.ui.icon.header {
  margin-bottom: 2em;
}
code,
kbd,
pre,
samp {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 13px;
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .ui.container {
    width: 95%!important;
  }
  .ui.grid.container {
    width: 100%!important;
  }
}
.documentation.container {
  margin: 1.5em 0;
}
.documentation.container .ui.vertical.menu {
  width: auto;
  margin-right: 1em;
}
.documentation.container .ui.vertical.menu .item {
  font-size: 1em!important;
}
.documentation.container #edit_page {
  float: right;
  position: relative;
  z-index: 10;
}
.documentation.container .markdown {
  padding-left: 30px;
}
.documentation.container .markdown > h1,
.documentation.container .markdown h2:first-of-type {
  margin-top: 0 !important;
}
.footer.segment {
  padding: 4em 0em;
}
.center {
  text-align: center;
}
