<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="description" content="{{.Site.Description}}" />

  <link rel="shortcut icon" href="/img/favicon.png" />

  <script src="https://unpkg.com/alpinejs" defer></script>
  <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
  <link href="/css/main.css?v={{.BuildCommit}}" rel="stylesheet">

  {{if .Extension.Plausible.Enabled}}
    <script defer
      {{if .Extension.Plausible.Domain}}
        data-domain="{{.Extension.Plausible.Domain}}"
      {{end}}
      src="https://plausible.io/js/plausible.js">
    </script>
  {{end}}

  {{if .Extension.GoogleAnalytics.Enabled}}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{.Extension.GoogleAnalytics.MeasurementID}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{.Extension.GoogleAnalytics.MeasurementID}}');
    </script>
  {{end}}

  <title>{{.Title}}</title>
</head>
