<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="description" content="{{.Site.Description}}" />

  <link rel="shortcut icon" href="/img/favicon.png" />
  <link href="/css/main.css?v={{.BuildCommit}}" rel="stylesheet">

  {{if .Extension.Plausible.Enabled}}
    <script defer
      {{if .Extension.Plausible.Domain}}
        data-domain="{{.Extension.Plausible.Domain}}"
      {{end}}
      src="https://plausible.io/js/plausible.js">
    </script>
  {{end}}

  <title>{{.Title}}</title>
</head>
