<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">{{Tr(Lang, "footer.about")}}</h4>
        <div class="ui inverted link list">
          <a class="item" href="https://github.com/go-macaron/macaron">Macaron</a>
          <a class="item" href="http://semantic-ui.com/">Semantic UI</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">{{Tr(Lang, "footer.project")}}</h4>
        <div class="ui inverted link list">
          <a class="item" href="/docs" >{{Tr(Lang, "footer.documentation")}}</a>
          <a class="item" href="https://github.com/peachdocs/peach/issues">{{Tr(Lang, "footer.submit_issue")}}</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header"></h4>
        <p></p>
      </div>
    <div class="row">
      <div class="center column">
        {{Tr(Lang, "copyright") | safe}}
      </div>
    </div>
    </div>
  </div>
</div>
{{Extension.GABlock | safe}}