{% extends "base.html" %}
{% block title %}{{Tr(Lang, "name")}} - {{Tr(Lang, "tag_line")}}{% endblock %}
{% block body %}
	<div class="ui inverted vertical masthead center aligned segment">
	  {% include Page.NavbarTplPath %}

	  <div class="ui text container">
	    <img src="/img/favicon.ico" >
	    <h1 class="ui inverted header">
	      {{Tr(Lang, "home.title")}}
	    </h1>
	    <h2>{{Tr(Lang, "home.tag_line")}}</h2>
	    <a class="ui huge primary button" href="{{Page.DocsBaseURL}}">{{Tr(Lang, "home.get_started")}} <i class="right arrow icon"></i></a>
	  </div>
	</div>

	<div class="ui vertical stripe segment">
	  <div class="ui aligned stackable three column grid container">
	    <div class="column">
	      <h3 class="ui header">
	      	<i class="world icon"></i> {{Tr(Lang, "home.multi_lang")}}
	      </h3>
	      <p>{{Tr(Lang, "home.multi_lang_desc")}}</p>
	    </div>
	    <div class="column">
	      <h3 class="ui header">
	      	<i class="lightning icon"></i> {{Tr(Lang, "home.real_time")}}
	      </h3>
	      <p>{{Tr(Lang, "home.real_time_desc")}}</p>
	    </div>
	    <div class="column">
	      <h3 class="ui header">
	      	<i class="search icon"></i> {{Tr(Lang, "home.searchable")}}
	      </h3>
	      <p>{{Tr(Lang, "home.searchable_desc")}}</p>
	    </div>
	  </div>
	</div>

	<div class="ui vertical stripe segment">
	  <div class="ui aligned centered stackable grid container">
	    <h1 class="ui icon header">
	      <i class="thumbs up icon"></i>
	      <div class="content">
	        {{Tr(Lang, "home.awesomeness")}}
	        <div class="sub header">{{Tr(Lang, "home.awesomeness_desc")}}</div>
	      </div>
	    </h1>
	  </div>
	  <div class="ui aligned centered stackable four column grid container">
	    <div class="column">
	      <h3 class="ui header">
	        <i class="file text icon"></i> {{Tr(Lang, "home.markdown")}}
	      </h3>
	      <p>{{Tr(Lang, "home.markdown_desc")}}</p>
	    </div>
	    <div class="column">
	      <h3 class="ui header">
	        <i class="rocket icon"></i> {{Tr(Lang, "home.webhook")}}
	      </h3>
	      <p>{{Tr(Lang, "home.webhook_desc")}}</p>
	    </div>
	    <div class="column">
	      <h3 class="ui header">
	        <i class="settings icon"></i> {{Tr(Lang, "home.configurable")}}
	      </h3>
	      <p>{{Tr(Lang, "home.configurable_desc")}}</p>
	    </div>
	    <div class="column">
	      <h3 class="ui header">
	        <i class="comments icon"></i> {{Tr(Lang, "home.disqus")}}
	      </h3>
	      <p>{{Tr(Lang, "home.disqus_desc")}}</p>
	    </div>
	    <div class="row">
	      <div class="center aligned column">
	        <a class="ui huge blue button">{{Tr(Lang, "home.check_them_out")}}</a>
	      </div>
	    </div>
	    <h4 class="ui horizontal header divider">
	      <a href="">{{Tr(Lang, "home.case_study")}}</a>
	    </h4>
	  </div>
	</div>

	{% include Page.FooterTplPath %}
{% endblock %}