<div class="ui container">
  <div class="ui large secondary inverted menu">
  	{% for item in Navbar.Items %}
    <a class="{% if item.Link == Link %}active{% endif %} item" href="{{item.Link}}" {% if item.Blank %}target="_blank"{% endif %}>{% if item.Icon %}<i class="{{item.Icon}} icon"></i> {% endif %}{{Tr(Lang, item.Locale)}}</a>
    {% endfor %}
    <div class="right item">
      {% if Extension.EnableSearch %}
        <form action="/search">
          <div class="item">
            <div class="ui small input">
              <input name="q" value="{{Keyword}}" placeholder="{{Tr(Lang, "navbar.search")}}...">
            </div>
          </div>
        </form>
      {% endif %}
      <div class="ui language floating dropdown link item">
        <i class="world icon"></i>
        <div class="text">{{LangName}}</div>
      	<div class="menu">
      		{% for lang in AllLangs %}
					<a class="item {% if Lang == lang.Lang %}active selected{% endif %}" href="{{Link}}?lang={{lang.Lang}}">{{lang.Name}}</a>
					{% endfor %}
				</div>
      </div>
    </div>
  </div>
</div>